@font-face {
    font-family: 'Luckiest Guy';
    src: url('LuckiestGuy-Regular.woff2') format('woff2'),
        url('LuckiestGuy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background-color: #14884E;
    font-family: Arial, sans-serif;
    }
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }
h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    }
p {
    color: rgb(255, 255, 255);
    text-align: left;
    margin-right: 150px;
    margin-left: 80px;
    }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
figcaption {
    color: rgb(255, 255, 255);
    text-align: center;
    }
td{
    font-family: Luckiest Guy;
    font-size: 30px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}