@font-face {
    font-family: 'Luckiest Guy';
    src: url('LuckiestGuy-Regular.woff2') format('woff2'),
        url('LuckiestGuy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background-image: url('images/Background.png');
    font-family: Arial, sans-serif;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    }
h3 {
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 80px;
    }
p {
    color: rgb(255, 255, 255);
    text-align: left;
    margin-right: 150px;
    margin-left: 80px;
    }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
figcaption {
    color: rgb(255, 255, 255);
    text-align: center;
    }
a {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
    margin-left: 10px;
    font-size: large;
}
a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    }
a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #828d87;
    background-color: transparent;
    text-decoration: underline;
} 
a:active {
    color: #828d87;
    background-color: transparent;
    text-decoration: underline;
}
td{
    font-family: Luckiest Guy;
    font-size: 30px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
/*Change color of scroll bar and scroll back ground to different shades of green*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
    background: #828d87;
}
::-webkit-scrollbar-thumb:hover {
    background: #828d87;
}
