body {
    background-color: #14884E;
    font-family: Arial, sans-serif;
    }
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    }
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    }
h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    }
p {
    color: rgb(255, 255, 255);
    text-align: left;
    margin-right: 150px;
    margin-left: 80px;
    }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }